@using School.Model
@using System.Collections.Generic

@{
    ViewData["Title"] = "List";
}

@model IEnumerable<Prodotto>

    <div class="container">
        <div class="header">
            <h2>List</h2>
        </div>

        <div class="main">
            <h4>Lista Prodotti Scontati</h4>

            <table border="1">
                <thead>
                    <tr>
                        <th>Titolo prodotto</th>
                        <th>Descrizione</th>
                        <th>Prezzo</th>
                        <th>Sconto</th>
                        <th>Disponibile</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.Titolo</td>
                            <td>@s.Descrizione</td>
                            <td>@s.Prezzo</td>
                            <td>@s.Sconto</td>
                            <td>@s.Disponibile</td>
                        </tr>
                    }

                </tbody>

            </table>


        </div>
    </div>
