@using School.Controllers
@using School.Data
@using School.Model
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewBag.Title = "Index";
    //Layout = "_LayoutEmpty";
}

@model IEnumerable<Prodotto>

<div class="container">
    <div class="header">
        <h2>Index</h2>
    </div>

    <div class="main">

        <h2>
            @if(HttpContextAccessor.HttpContext.Session.GetInt32("ErrorMsg") != null)
            {
                <b>@HttpContextAccessor.HttpContext.Session.GetInt32("ErrorMsg")</b>
            }
        </h2>

        <h4>Lista top 10 Prodotti</h4>

        <table border="1">
            <thead>
                <tr>
                    <th>Titolo prodotto</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                    <th>Sconto</th>
                    <th>Disponibile</th>
                    <th>Immagine</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>

            @foreach (var s in Model)
            {
                

                <!-- ascascasc -->

                    @Html.ActionLink(s.Titolo, "Detail", "Prodotto", new { s.CdProdotto })<br />




                    @s.Descrizione<br />
                    @s.Prezzo<br />
                    @s.Sconto<br />

                    @if(s.Disponibile.Equals("si"))
                    {
                        <b>X</b>
                    }

                    @if (s.Immagine != null)
                    {
                        <img src="data:image;base64,@System.Convert.ToBase64String(s.Immagine)"
                             width="80" height="80" />     
                    }
                    else
                    {
                        <b>NO IMAGE</b>
                    }

                    @using (Html.BeginForm("Add", "Carrello", FormMethod.Post))
                    {
                        <fieldset>
                            <input type="text" name="prodotto" id="prodotto" value="@s.CdProdotto" hidden />
                            <input type="number" name="qta" id="qta" min="1" value="1"/>Quantita'
                            <input type="submit" value="Aggiungi al carrello" />
                        </fieldset>
                    }

                <br />
                <br />
            }
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>