@using School.Controllers
@using School.Data
@using School.Model
@using System.Collections.Generic

@{
    ViewBag.Title = "Index";
    //Layout = "_LayoutEmpty";
}

<div class="container">
    <div class="header">
        <h2>Index</h2>
    </div>

    <div class="main">
        <h4>Menu: riportati tutti i link attivi a pagine</h4>
        <ul id="menu">
            <li>@Html.ActionLink("Admin Home", "Index", "AdminHome")</li>
            <li>@Html.ActionLink("Lista Utenti", "Index", "Utente")</li>
            <li>@Html.ActionLink("Crea Utente", "Create", "Utente")</li>
            <li>@Html.ActionLink("Catalogo Prodotti", "Index", "Prodotto")</li>
            <li>@Html.ActionLink("Catalogo Prodotti in offerta", "List", "Offerta")</li>
            <li>@Html.ActionLink("Lista Ordini", "Index", "Ordine")</li>
        </ul>
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>