@using School.Controllers
@using School.Data
@using School.Model
@using System.Collections.Generic

@{
    ViewBag.Title = "Index";
    //Layout = "_LayoutEmpty";
}

@model IEnumerable<Prodotto>

<div class="container">
    <div class="header">
        <h2>Index</h2>
    </div>

    <div class="main">
        <h4>Menu: riportati tutti i link attivi a pagine</h4>
        <ul id="menu">
            <li>@Html.ActionLink("Admin Home", "Index", "AdminHome")</li>
            <li>@Html.ActionLink("Lista Utenti", "Index", "Utente")</li>
            <li>@Html.ActionLink("Crea Utente", "Create", "Utente")</li>
            <li>@Html.ActionLink("Catalogo Prodotti", "Index", "Prodotto")</li>
            <li>@Html.ActionLink("Catalogo Prodotti in offerta", "List", "Offerta")</li>
            <li>@Html.ActionLink("Lista Ordini", "Index", "Ordine")</li>
        </ul>


        <h4>Lista top 10 Prodotti</h4>

        <table border="1">
            <thead>
                <tr>
                    <th>Titolo prodotto</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                    <th>Sconto</th>
                    <th>Immagine</th>
                    <th>Disponibile</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>

            @foreach (var s in Model)
            {
                
                    @s.Titolo<br />
                    @s.Descrizione<br />
                    @s.Prezzo<br />
                    @s.Sconto<br />
                    @s.Immagine<br />
                    @s.Disponibile<br />


                    @using (Html.BeginForm("Add", "Ordine", FormMethod.Post))
                    {
                        <fieldset>
                            <input type="text" name="input" id="input" value="@s.CdProdotto" hidden />
                            <input type="submit" value="Aggiungi al carrello" />
                        </fieldset>
                    }

                <br />
                <br />
            }

       

    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>