@using School.Controllers
@using School.Data
@using School.Model
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewBag.Title = "Index";
    //Layout = "_LayoutEmpty";
}

@model IEnumerable<Prodotto>

<div class="container">
    <div class="header">
        <h2>Index</h2>
    </div>

    <div class="main">

        <h2>
            <b>Loggato: </b><br />
            @if (HttpContextAccessor.HttpContext.Session.GetInt32("CdUtente") != null)
            {
                <b>@HttpContextAccessor.HttpContext.Session.GetInt32("CdUtente")</b>
                <b>Ruolo: @HttpContextAccessor.HttpContext.Session.GetString("Ruolo")</b>
            }
            else
            {
                <b>NO</b>
            }
            
            @if(HttpContextAccessor.HttpContext.Session.GetInt32("ErrorMsg") != null)
            {
                <b>@HttpContextAccessor.HttpContext.Session.GetInt32("ErrorMsg")</b>
            }
        </h2>

        <h4>Menu: riportati tutti i link attivi a pagine</h4>
        <ul id="menu">
            <li>@Html.ActionLink("Login", "Login", "Utente")</li>
            <li>@Html.ActionLink("Logout", "Logout", "Utente")</li>
            <li>@Html.ActionLink("Private Home", "Index", "PrivateHome")</li>
            <li>@Html.ActionLink("Lista Utenti", "Index", "Utente")</li>
            <li>@Html.ActionLink("Crea Utente", "Create", "Utente")</li>
            <li>@Html.ActionLink("Catalogo Prodotti", "Index", "Prodotto")</li>
            <li>@Html.ActionLink("Catalogo Prodotti in offerta", "List", "Offerta")</li>
            <li>@Html.ActionLink("Lista Ordini", "Index", "Ordine")</li>
        </ul>


        <h4>Lista top 10 Prodotti</h4>

        <table border="1">
            <thead>
                <tr>
                    <th>Titolo prodotto</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                    <th>Sconto</th>
                    <th>Immagine</th>
                    <th>Disponibile</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>

            @foreach (var s in Model)
            {
                
                    @s.Titolo<br />
                    @s.Descrizione<br />
                    @s.Prezzo<br />
                    @s.Sconto<br />
                    @s.Immagine<br />
                    @s.Disponibile<br />


                    @using (Html.BeginForm("Add", "Ordine", FormMethod.Post))
                    {
                        <fieldset>
                            <input type="text" name="prodotto" id="prodotto" value="@s.CdProdotto" hidden />
                            <input type="number" name="qta" id="qta" min="0"/>Quantita'
                            <input type="submit" value="Aggiungi al carrello" />
                        </fieldset>
                    }

                <br />
                <br />
            }
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>