@using School.Controllers
@using School.Data
@using School.Model
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewBag.Title = "Index";
    //Layout = "_LayoutEmpty";
}

@model IEnumerable<Prodotto>

<div class="container">
    <div class="header">
        <h2>Index</h2>
    </div>

    <div class="main">

        <h2>
            @if(HttpContextAccessor.HttpContext.Session.GetString("LoginMsg") != null)
            {
                <b>@HttpContextAccessor.HttpContext.Session.GetString("LoginMsg")</b>
            }
        </h2>

        <h4>Lista top 10 Prodotti</h4>

        <table border="1">
            <tr>
                <th>Titolo prodotto</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Sconto</th>
                <th>Disponibile</th>
                <th>Immagine</th>

            </tr>

            @foreach (var s in Model)
            {
                <tr>
                    <td>@Html.ActionLink(s.Titolo, "Detail", "Prodotto", new { s.CdProdotto })</td>
                    <td>@s.Descrizione</td>
                    <td>@s.Prezzo</td>
                    <td>@s.Sconto</td>

                    @if (s.Disponibile.Equals("si"))
                    {
                        <td><b>X</b></td>
                    }
                    else
                    {
                        <td></td>
                    }

                    @if (s.Immagine != null)
                    {
                        <td>
                            <img src="data:image;base64,@System.Convert.ToBase64String(s.Immagine)"
                                 width="80" height="80" />
                        </td>
                    }
                    else
                    {
                        <td><b>NO IMAGE</b></td>
                    }

                    @using (Html.BeginForm("Add", "Carrello", FormMethod.Post))
                    {
                        <td>
                            <fieldset>
                                <input type="text" name="prodotto" id="prodotto" value="@s.CdProdotto" hidden />
                                <input type="number" name="qta" id="qta" min="1" value="1" />Quantita'
                                <input type="submit" value="Aggiungi al carrello" />
                            </fieldset>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>