@model IEnumerable<Prodotto>

@{
    ViewData["Title"] = "Upo e-Commerce - RICERCA AVANZATA";
    bool count = false;
    var ruolo = HttpContextAccessor.HttpContext.Session.GetString("Ruolo");
    var isFiltered = TempData["AdvancedFilter"];

    if (Model.Count() != 0)
    {
        count = true;
    }
}
<div class="container">
    <div class="main">
        <h1>Ricerca avanzata</h1>

        <!--  Solo se model e' pieno, oppure filtro "sbagliato", ripropone il filtro  -->
        @if (count || (!count && isFiltered.Equals("True")))
        {
            <input type="button" name="filter" value="Fitra" onclick="showDiv()" style="float:left;" />
            <input type="button" name="filter" value="Chiudi" onClick="hide()" style="float:left;display:none;" id="topbarbtn" />
            <div id="topbar" style="display:none;">


                <!--  FILTRO  -->
                @using (Html.BeginForm("Advanced", "Prodotto", FormMethod.Get))
                {
                    <fieldset>
                        <table>
                            <!-- Titolo -->
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td><b>Titolo</b></td>
                                <td><input type="text" name="titolo" /></td>
                            </tr>

                            <!-- Prezzo -->
                            <tr>
                                <td><b>Prezzo</b></td>
                                <td>
                                    <select name="prezzooperator">
                                        <option value=""></option>
                                        <option value="<"><</option>
                                        <option value="<="><=</option>
                                        <option value=">">></option>
                                        <option value=">=">>=</option>
                                        <option value="=">=</option>
                                    </select>
                                </td>
                                <td><input type="number" name="prezzo" id="prezzo" min="0" /></td>
                            </tr>
                            <!-- Disponibile -->
                            <tr>
                                <td><b>Disponibile</b></td>
                                <td>
                                    <select name="disp">
                                        <option value=""></option>
                                        <option value="si">si</option>
                                        <option value="no">no</option>
                                    </select>
                                </td>
                            </tr>
                            <!-- Sconto -->
                            <tr>
                                <td><b>Sconto</b></td>
                                <td>
                                    <select name="sconto">
                                        <option value=""></option>
                                        <option value="si">si</option>
                                        <option value="no">no</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <br /><br /><br />
                        <input type="text" name="apply" id="apply" value="apply" hidden />
                        <input type="submit" value="Applica Filtro" id="acquista" />
                        <input type="button" value="Pulisci Filtro"
                               onclick="@("window.location.href='" + @Url.Action("Advanced", "Prodotto", new { clear = "clear" }) + "'");" />
                    </fieldset>
                }
            </div>

        }
        @if (!count)
        {
            <div id="desc">
                <h2>Nessun Risultato!</h2>
            </div>
        }
        else
        {
            <!-- Tabella prodotti che matchano il filtro -->
            <div class="tables">
                @if (isFiltered.Equals("True"))
                {
                    @foreach (var s in Model)
                    {
                        <div class="first">
                            <table class="big">
                                <tr>
                                    <td colspan="4">
                                        @if (s.Immagine != null)
                                        {
                                            <img src="data:image;base64,@System.Convert.ToBase64String(s.Immagine)"
                                                 width="200" height="200" />
                                        }
                                        else
                                        {
                                            <img src="~/img/noimage.jpg" alt="NO IMAGE" width="200" height="200" />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <!-- Link al dettaglio prodotto -->
                                        @Html.ActionLink(s.Titolo, "Detail", "Prodotto", new { s.CdProdotto }, new { @class = "linkprod" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Prezzo
                                    </td>
                                    <td></td>
                                    <td>
                                        Sconto
                                    </td>
                                    <td>
                                        Disponibile
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @if (s.Sconto > 0)
                                        {
                                            <p style="text-decoration:line-through; text-decoration-color:red;">@s.Prezzo &euro;</p>

                                        }
                                        else
                                        {
                                            <p>@s.Prezzo &euro;</p>

                                        }
                                    </td>
                                    <td>
                                        @if (s.Sconto > 0)
                                        {
                                            <b>@(s.Prezzo - s.Sconto) &euro;</b>
                                        }
                                    </td>
                                    <td>
                                        @if (s.Sconto > 0)
                                        {
                                            <i>@s.Sconto &euro;</i>

                                        }
                                    </td>
                                    <td>
                                        @if (s.Disponibile.Equals("si"))
                                        {
                                            <b>&#x2714;</b>
                                        }
                                        else
                                        {
                                            <b>&#x2718;</b>
                                        }

                                    </td>
                                </tr>
                                <tr></tr>
                                <!-- Form pulsante aggiungi al carrello per user -->
                                @if ((ruolo == null) || ((ruolo != null) && ruolo.Equals("user")))
                                {
                                    <tr>
                                        <td colspan="4">
                                            @if (s.Disponibile.Equals("si"))
                                            {
                                                @using (Html.BeginForm("Add", "Carrello", FormMethod.Post))
                                                {
                                                    <fieldset>
                                                        <input type="text" name="prodotto" id="prodotto" value="@s.CdProdotto" hidden />
                                                        <input type="number" name="qta" id="qta" min="0" value="1" />
                                                        <input type="submit" value="Aggiungi al carrello" />
                                                    </fieldset>
                                                }
                                            }
                                            else
                                            {
                                                <b>Il prodotto non &eacute; disponibile!!!</b>

                                            }
                                        </td>
                                    </tr>
                                }
                                else if ((ruolo != null) && (ruolo.Equals("admin")))
                                {
                                    <!-- Form modifica prodotto per gli admin -->
                                    <tr>
                                        <td colspan="4">
                                            @using (Html.BeginForm("Update", "Prodotto", FormMethod.Post))
                                            {
                                                <fieldset>

                                                    <input type="text" name="prodotto" id="prodotto" value="@s.CdProdotto" hidden />
                                                    <input type="number" name="prezzo" id="prezzo" min="0" value="@s.Prezzo" />Prezzo<br />
                                                    <input type="number" name="sconto" id="sconto" min="0" value="@s.Sconto" />Sconto<br />
                                                    <select name="disponibile" id="disponibile">

                                                        @if (s.Disponibile.Equals("si"))
                                                        {
                                                            <option value="si" selected="selected">Disponibile</option>
                                                            <option value="no">no</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="si">si</option>
                                                            <option value="no" selected="selected">NON Disponibile</option>
                                                        }
                                                    </select>
                                                    <br />
                                                    <br />
                                                    <input type="submit" value="Modifica Prodotto" />
                                                </fieldset>
                                            }
                                        </td>
                                    </tr>

                                }
                            </table>
                        </div>
                    }
                }
            </div>
        }
    </div>
</div>