@model IEnumerable<Prodotto>

@{
    ViewData["Title"] = "Upo e-Commerce - RICERCA";
    var ruolo = HttpContextAccessor.HttpContext.Session.GetString("Ruolo");
}

<div class="container">
    <div class="main">
        <h1>Risultato della ricerca</h1>

        @if (Model.Count() == 0)
        {
            <h1>Non &eacute; stato trovato nessun prodotto</h1>
        }
        else
        {
            <!-- Tabella dei prodotti che matchano la ricerca (per titolo / descrizione) -->
            <div class="tables">
                @foreach (var s in Model)
                {
                    <table class="big">
                        <tr>
                            <td colspan="4">
                                @if (s.Immagine != null)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(s.Immagine)"
                                         width="200" height="200" />
                                }
                                else
                                {
                                    <img src="~/img/noimage.jpg" alt="NO IMAGE" width="200" height="200" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <!--Link al dettaglio prodotto  -->
                                @Html.ActionLink(s.Titolo, "Detail", "Prodotto", new { s.CdProdotto }, new { @class = "linkprod" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prezzo
                            </td>
                            <td></td>
                            <td>
                                @if (s.Sconto > 0)
                                {
                                    <p>Sconto</p>
                                }
                            </td>
                            <td>
                                Disponibile
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (s.Sconto > 0)
                                {
                                    <p style="text-decoration:line-through; text-decoration-color:red;">@s.Prezzo &euro;</p>

                                }
                                else
                                {
                                    <p>@s.Prezzo &euro;</p>

                                }
                            </td>
                            <td>
                                @if (s.Sconto > 0)
                                {
                                    <b>@(s.Prezzo - s.Sconto) &euro;</b>
                                }
                            </td>
                            <td>
                                @if (s.Sconto > 0)
                                {
                                    <i>@s.Sconto &euro;</i>

                                }
                            </td>
                            <td>
                                @if (s.Disponibile.Equals("si"))
                                {
                                    <b>&#x2714;</b>
                                }
                                else
                                {
                                    <b>&#x2718;</b>
                                }

                            </td>
                        </tr>
                        <tr></tr>

                        <!-- Form pulsante aggiungi al carrello per user -->
                        @if ((ruolo == null) || ((ruolo != null) && ruolo.Equals("user")))
                        {
                            <tr>
                                <td colspan="4">
                                    @using (Html.BeginForm("Add", "Carrello", FormMethod.Post))
                                    {
                                        <fieldset>
                                            <input type="text" name="input" id="input" value="@s.CdProdotto" hidden />
                                            <input type="number" name="qta" id="qta" min="0" value="1" />
                                            <input type="submit" value="Aggiungi al carrello" />
                                        </fieldset>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                }
            </div>
        }
    </div>
</div>
<div class="footer">
    <h6>footer</h6>
</div>