@model IEnumerable<Prodotto>
@{
    ViewData["Title"] = "GESTIONE PRODOTTI";
    var ruolo = HttpContextAccessor.HttpContext.Session.GetString("Ruolo");
}
<div class="container">
    <div class="main">

        <!-- Controllo ruoli: solo admin puo' accedere all pagina di modifica dei prodotti -->
        @if (ruolo == null)
        {
            <h1>
                Non sei loggato!<br /><br />
                @Html.ActionLink("Login", "Login", "Utente")
            </h1>
        }
        else if (ruolo.Equals("user"))
        {
            <h1>Area riservata agli amministratori!</h1>
        }
        else
        {
            <h1>Gestione Prodotti</h1>

            <!-- Pulsante per la ricerca avanzata: redirect a /Prodotto/Advanced -->
            <div>
                <input type="button" name="ricerca" value="Ricerca Avanzata" onclick="@("window.location.href='" + @Url.Action("Advanced", "Prodotto") + "'");" style="float:left;" />
            </div>
            <br /><br />

            <!-- Tabella globale prodotti -->
            <div class="tables" style="padding-top:10px">
                @foreach (var s in Model)
                {
                    <table class="big">
                        <tr>
                            <td colspan="4">
                                @if (s.Immagine != null)
                                {
                                    <img src="data:image;base64,@System.Convert.ToBase64String(s.Immagine)"
                                         width="200" height="200" />
                                }
                                else
                                {
                                    <img src="~/img/noimage.jpg" alt="NO IMAGE" width="200" height="200" />
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <!-- Link al dettaglio prodotto -->
                                @Html.ActionLink(s.Titolo, "Detail", "Prodotto", new { s.CdProdotto }, new { @class = "linkprod" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Prezzo
                            </td>
                            <td></td>
                            <td>
                                Sconto
                            </td>
                            <td>
                                Disponibile
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @if (s.Sconto > 0)
                                {
                                    <p style="text-decoration:line-through; text-decoration-color:red;">@s.Prezzo &euro;</p>

                                }
                                else
                                {
                                    <p>@s.Prezzo &euro;</p>

                                }
                            </td>
                            <td>
                                @if (s.Sconto > 0)
                                {
                                    <b>@(s.Prezzo - s.Sconto) &euro;</b>
                                }
                            </td>
                            <td>
                                @if (s.Sconto > 0)
                                {
                                    <i>@s.Sconto &euro;</i>

                                }
                            </td>
                            <td>
                                @if (s.Disponibile.Equals("si"))
                                {
                                    <b>&#x2714;</b>
                                }
                                else
                                {
                                    <b>&#x2718;</b>
                                }

                            </td>
                        </tr>
                        <tr></tr>

                        <tr>
                            <td colspan="4">

                                <!-- Form di modifica dei dati del prodotto -->
                                @using (Html.BeginForm("Update", "Prodotto", FormMethod.Post))
                                {
                                    <fieldset>

                                        <input type="text" name="prodotto" id="prodotto" value="@s.CdProdotto" hidden />
                                        <input type="number" name="prezzo" id="prezzo" min="0" value="@s.Prezzo" />Prezzo<br />
                                        <input type="number" name="sconto" id="sconto" min="0" value="@s.Sconto" />Sconto<br />
                                        <select name="disponibile" id="disponibile">
                                            @if (s.Disponibile.Equals("si"))
                                            {
                                                <option value="si" selected="selected">Disponibile</option>
                                                <option value="no">no</option>
                                            }
                                            else
                                            {
                                                <option value="si">si</option>
                                                <option value="no" selected="selected">NON Disponibile</option>
                                            }
                                        </select>
                                        <br />
                                        <br />
                                        <input type="submit" value="Modifica Prodotto" />
                                    </fieldset>
                                }
                            </td>
                        </tr>

                    </table>
                }
            </div>
        }
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>