@using School.Data
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<OrdiniJoinDataSource>

@{
    ViewBag.Title = "LISTA ORDINI";
    string date = "";

    if(Model.Count() != 0)
    {
        date = Model.First().DtInserimento.ToString();
    }
}




<div class="container">
    <div class="main">

        <h1>Lista Ordini</h1>

        <!-- FILTRI -->
        <input type="button" value="Pulisci Filtro"
               onclick="@("window.location.href='" + @Url.Action("List", "Ordine", new { clear = "clear" }) + "'");" />
        
        @using (Html.BeginForm("List", "Ordine", FormMethod.Get))
        {
            <fieldset>
                <!-- Titolo-->
                <b>Titolo</b>
                <input type="text" name="titolo"/>

                <!-- Quantita' -->
                <b>Quantit&aacute;</b>
                <select name="qtaoperator">
                    <option value=""></option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="=">=</option>
                </select>
                <input type="number" name="qta" id="qta" />

                <!-- Data -->
                <b>Data</b>
                <input type="text" name="start" id="start" value="@date" />Data inizio
                <input type="text" name="end" id="end" value="@date" />Data fine

                <!-- Totale -->
                <b>Totale</b>
                <select name="totoperator">
                    <option value=""></option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="=">=</option>
                </select>
                <input type="number" name="tot" id="tot" />

                <!-- Stato-->
                <b>Stato</b>
                <select name="stato">
                    <option value=""></option>
                    <option value="sent">sent</option>
                    <option value="processed">processed</option>
                </select>


                <input type="submit" value="Applica Filtro"/>
            </fieldset>
        }
        
        <table border="1">
            <tr>
                <!-- ORDER BY -->
                <th>@Html.ActionLink("Codice ordine", "List", "Ordine", new { orderby = "CdOrdine" }, null)</th>
                <th>@Html.ActionLink("Titolo prodotto", "List", "Ordine", new { orderby = "Titolo" }, null)</th>
                <th>@Html.ActionLink("Quantita'", "List", "Ordine", new { orderby = "Quantita" }, null)</th>
                <th>@Html.ActionLink("Data", "List", "Ordine", new { orderby = "DtInserimento" }, null)</th>
                <th>@Html.ActionLink("Totale Ordine", "List", "Ordine", new { orderby = "Totale" }, null)</th>
                <th>@Html.ActionLink("Stato", "List", "Ordine", new { orderby = "Stato" }, null)</th>
            </tr>

                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.CdOrdine</td>
                        <td>@s.Titolo</td>
                        <td>@s.Quantita</td>
                        <td>@s.DtInserimento.Day/@s.DtInserimento.Month/@s.DtInserimento.Year</td>
                        <td>@s.Totale</td>
                        <td>@s.Stato</td>

                        <td>
                            @using (Html.BeginForm("Update", "Ordine", FormMethod.Post))
                            {
                                <fieldset>
                                    <input type="text" name="ordine" id="ordine" value="@s.CdOrdine" hidden />
                                    <select name="stato" id="stato">
                                        <option value="sent">sent</option>
                                        <option value="processed">processed</option>
                                    </select>
                                    <input type="submit" value="Modifica Stato Ordine" />
                                </fieldset>
                            }
                        </td>
                    </tr>
                }
        </table>
</div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>

