@using School.Data
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewBag.Title = "LISTA ORDINI";
}

@model IEnumerable<OrdiniJoinDataSource>


<div class="container">
    <div class="header">
        <h2>Lista Ordini</h2>
    </div>

    <div class="main">

        <h4>Lista Prodotti</h4>

        <table border="1">
            <tr>
                <th>Codice ordine</th>
                <th>Titolo prodotto</th>
                <th>Quantita'</th>
                <th>Data</th>
                <th>Totale ordine</th>
                <th>Stato</th>
            </tr>
            


            @foreach (var group in Model.GroupBy(item => item.CdOrdine))
            {
                <tr>
                    @group.Key
                </tr>

                @foreach (var s in group)
                {
                    <tr>
                        <td>@s.CdOrdine</td>
                        <td>@s.Titolo</td>
                        <td>@s.Quantita</td>
                        <td>@s.DtInserimento</td>
                        <td>@s.Totale</td>
                        <td>@s.Stato</td>

                        <td>
                            @using (Html.BeginForm("Update", "Ordine", FormMethod.Post))
                            {
                                <fieldset>
                                    <input type="text" name="ordine" id="ordine" value="@s.CdOrdine" hidden />
                                    <select name="stato" id="stato">
                                        <option value="sent">sent</option>
                                        <option value="processed">processed</option>
                                    </select>
                                    <input type="submit" value="Modifica Stato Ordine" />
                                </fieldset>
                            }
                        </td>
                    </tr>
                }
            }
        </table>

    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>

