@using School.Data
@using System.Collections.Generic
@{
    ViewBag.Title = "LISTA ORDINI";
}

@model IEnumerable<OrdiniJoinDataSource>


    <div class="container">
        <div class="header">
            <h2>Lista Ordini</h2>
        </div>

        <div class="main">

            <h4>Lista Prodotti</h4>

            <table border="1">
                <thead>
                    <tr>
                        <th>Codice ordine</th>
                        <th>Username</th>
                        <th>Titolo prodotto</th>
                        <th>Quantita'</th>
                        <th>Data</th>
                        <th>Totale ordine</th>
                    </tr>
                </thead>
                <tbody>

                    
            </tbody>


            </table>

            <ul>
                @foreach (var group in Model.GroupBy(item => item.CdOrdine))
                {
                    <li>
                        @group.Key

                    <ul>
                        @foreach (var s in group)
                        {
                            <li>@s.CdOrdine</li>
                            <li>@s.Username</li>
                            <li>@s.Titolo</li>
                            <li>@s.Quantita</li>
                            <li>@s.DtInserimento</li>
                            <li>@s.Totale</li>
                        }
                    </ul>
                    </li>
                }
            </ul>

        </div>

        <div class="footer">
            <h6>footer</h6>
        </div>
    </div>

