@using School.Model
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{ 
    var ruolo = HttpContextAccessor.HttpContext.Session.GetString("Ruolo");
}

<ul id="menu">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Offerte", "Index", "Offerta")
    </li>
    <li>
        @Html.ActionLink("Prodotti", "Index", "Prodotto")
    </li>

    <!--  CARRELLO  -->
    @if (ruolo == null)
    {
        <li>
            @Html.ActionLink("Carrello", "Index", "Carrello")
        </li>
    }
    else if (ruolo.Equals("user"))
    {
        <li>
            @Html.ActionLink("Carrello", "Index", "Carrello")
        </li>

    }

    <!-- MENU' A TENDINA AREA PRIVATA  -->
    @if (ruolo != null)
    {
        <li>
            @if (ruolo.Equals("admin"))
                {
                @Html.ActionLink("DA SISTEMARE", "Index", "PrivateHome")
                <ul id="menu">
                    <li>@Html.ActionLink("Gestione Utenti", "List", "Utente")</li>
                    <li>@Html.ActionLink("Gestione Prodotti", "List", "Prodotto")</li>
                    <li>@Html.ActionLink("Gestione Ordini", "List", "Ordine")</li>
                </ul>
            }
            else if (ruolo.Equals("user"))
            {
                <!-- ruolo user -->
                @Html.ActionLink("DA SISTEMARE", "Index", "PrivateHome")
                <ul>
                    <li>@Html.ActionLink("Elenco Ordini", "Index", "Ordine")</li>
                </ul>
            }
        </li>
    }


    <li>
        @if (HttpContextAccessor.HttpContext.Session.GetString("Ruolo") == null)
        {
            @Html.ActionLink("Registrati!", "Create", "Utente")
        }
    </li>

    <li>
        @if (HttpContextAccessor.HttpContext.Session.GetString("Ruolo") == null)
        {
            @Html.ActionLink("Accedi", "Login", "Utente")
        }
    </li>
    <li>
        @if (HttpContextAccessor.HttpContext.Session.GetString("Ruolo") != null)
        {
            @Html.ActionLink("Esci", "Logout", "Utente")
        }
    </li>
    <li>
        <!-- Altro modo di usare form: non passa la prima volta dal controller e puo' chiamare il controller che vuole -->
        <!-- Passa parametri alla action: Controller ha un metodo (Find) che accetta tanti parametri quanti gli input type-->
        @using (Html.BeginForm("Find", "Prodotto", FormMethod.Post))
            {
            <fieldset>
                <input type="text" name="input" id="input" />
                <input type="submit" id="find" value="Cerca fra i prodotti" />
            </fieldset>
        }
    </li>
</ul>

<script>
    $("#menu").kendoMenu();
</script>