@using School.Model

<!-- NAVBAR! USA REDIRECT da index a list -->

<ul id="menu">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Home Privata", "Index", "PrivateHome")
    </li>
    <li>
        @Html.ActionLink("Catalogo", "Index", "Prodotto")
    </li>
    <li>
        @Html.ActionLink("Offerte", "Index", "Offerta")
    </li>
    <li>

        <!-- Check ruolo per mandare admin su List di tutti gli ordini? -->

        @Html.ActionLink("Ordini", "Index", "Ordine")
    </li>
    <li>
        @Html.ActionLink("Carrello", "Index", "Carrello")
    </li>
    <li>
        <!-- Altro modo di usare form: non passa la prima volta dal controller e puo' chiamare il controller che vuole -->
        <!-- Passa parametri alla action: Controller ha un metodo (Find) che accetta tanti parametri quanti gli input type-->
        @using (Html.BeginForm("Find", "Prodotto", FormMethod.Post))
        {
            <fieldset>
                <input type="text" name="input" id="input" />

                <input type="submit" value="Cerca fra i prodotti" />
            </fieldset>
        }
    </li>
    <li>
        @Html.ActionLink("Login", "Login", "Utente")
    </li>
    <li>
        @Html.ActionLink("Logout", "Logout", "Utente")
    </li>
</ul>

<script>
    $("#menu").kendoMenu();
</script>