@using School.Model

@{
    ViewData["Title"] = "Find";
}

@model IEnumerable<Prodotto>

<div class="container">
    <div class="header">
        <h2>Risultati ricerca</h2>
    </div>

    <div class="main">
        <h4>Lista Prodotti</h4>

        <table border="1">
            <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                    <th>Sconto</th>
                    <th>Immagine</th>
                    <th>Disponibile</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.Titolo</td>
                        <td>@s.Descrizione</td>
                        <td>@s.Prezzo</td>
                        <td>@s.Sconto</td>
                        <td>@s.Immagine</td>
                        <td>@s.Disponibile</td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>

