@using School.Data
@using System.Collections.Generic

@{
    ViewData["Title"] = "CARRELLO";
    double totale = 0;
}

@model IEnumerable<CarrelloDataSource>

<div class="container">
    <div class="header">
        <h2>Carrello</h2>
    </div>

    <div class="main">

        @if (Model.Count() == 0)
        {
            <h4>Carrello Vuoto!</h4>
        }
        else
        {
            <table border="1">
                <thead>
                    <tr>
                        <th>Titolo prodotto</th>
                        <th>Descrizione</th>
                        <th>Prezzo</th>
                        <th>Sconto</th>
                        <th>Immagine</th>
                        <th>Quantita'</th>

                    </tr>
                </thead>
                <tbody>
                    

                    <!-- foreach andrebbe qua... -->


                </tbody>
            </table>
            @foreach (var s in Model)
            {
                totale += (s.Prezzo - s.Sconto) * s.Quantita;

                    @s.Titolo
                    @s.Descrizione
                    @s.Prezzo
                    @s.Sconto
                    @s.Immagine
                    @s.Quantita


                @using (Html.BeginForm("Remove", "Carrello", FormMethod.Post))
                {
                    <fieldset>
                        <input type="text" name="prodotto" id="prodotto" value="@s.CdProdotto" hidden />
                        <input type="submit" value="Rimuovi tutti dal carrello" />
                    </fieldset>
                }
            }
            <h4>TOTALE CARRELLO: @totale</h4>

            @using (Html.BeginForm("Buy", "Carrello", FormMethod.Post))
            {
                <fieldset>
                    <input type="submit" value="PROCEDI ALL'ACQUISTO'" />
                </fieldset>
            }
        }
    </div>

    <div class="footer">
        <h6>footer</h6>
    </div>
</div>

