@{
    var ruolo = HttpContextAccessor.HttpContext.Session.GetString("Ruolo");
    var username = HttpContextAccessor.HttpContext.Session.GetString("Username");
}

<ul id="menu">
    <!--  CARRELLO  -->
    @if (ruolo == null)
    {
        <li>
            <a href="@Url.Action("Index","Carrello")"><img src="~/img/cart.png" , alt="Carrello" height="25" width="30" /></a>
        </li>
    }
    else if (ruolo.Equals("user"))
    {
        <li>
            <a href="@Url.Action("Index","Carrello")"><img src="~/img/cart.png" , alt="Carrello" height="25" width="30" /></a>
        </li>

    }
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Offerte", "Index", "Offerta")
    </li>
    <li>
        @Html.ActionLink("Prodotti", "Index", "Prodotto")
    </li>
    
    <!-- MENU' A TENDINA AREA PRIVATA  -->
    @if (ruolo != null)
    {
        <li class="dropdown">
            @if (ruolo.Equals("admin"))
            {
                @Html.ActionLink(username, "Index", "PrivateHome", new { @class = "dropbtn" })

                <ul class="dropdown-content">
                    <li>@Html.ActionLink("Gestione Utenti", "List", "Utente")</li>
                    <li>@Html.ActionLink("Gestione Prodotti", "List", "Prodotto")</li>
                    <li>@Html.ActionLink("Gestione Ordini", "List", "Ordine")</li>
                </ul>
            }
            else if (ruolo.Equals("user"))
            {
                @Html.ActionLink(username, "Index", "Ordine", new { @class = "dropbtn" })

                <!-- ruolo user -->
                <ul class="dropdown-content">
                    <li>@Html.ActionLink("Elenco Ordini", "Index", "Ordine")</li>
                </ul>
            }
        </li>
    }

    <li>
        @if (HttpContextAccessor.HttpContext.Session.GetString("Ruolo") == null)
        {
            @Html.ActionLink("Registrati!", "Create", "Utente")
        }
    </li>
    <li>
        @if (HttpContextAccessor.HttpContext.Session.GetString("Ruolo") == null)
        {
            @Html.ActionLink("Accedi", "Login", "Utente")
        }
    </li>
    <li>
        @if (HttpContextAccessor.HttpContext.Session.GetString("Ruolo") != null)
        {
            @Html.ActionLink("Esci", "Logout", "Utente")
        }
    </li>
    <li>
 
        @using (Html.BeginForm("Find", "Prodotto", FormMethod.Post))
            {
            <fieldset>
                <input type="text" name="input" id="input" />
                <input type="submit" id="find" value="Cerca fra i prodotti" />
            </fieldset>
        }
    </li>
    <li>
        @Html.ActionLink("Ricerca Avanzata", "Advanced", "Prodotto")
    </li>

</ul>
